$yellow: #fdd208;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

.btn-load-indicator {
    background-color:$yellow-400;
    color: black;
    font-weight: bold;
    border: none;
    width: 100%;
    &:hover{
        background-color:$yellow-600;
    }
}

.smartFont {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
}


.smartFontModal {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

h2, p {
    font-family: 'Dosis', sans-serif;
}

.btn-load-goal {
    background-color:$blue-400;
    color: black;
    font-weight: bold;
    border: none;
    width: 100%;
    &:hover{
        background-color:$blue-600;
    }
}

.btnIndicators{
    width: 50%;
}

.btn-add-user {
    background-color:$blue-500;
    color: white;
    font-weight: bold;
    border: none;
    &:hover{
        background-color:$blue-600;
        color: rgb(206, 206, 206);
    }
}

.btn-user {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color:$yellow-500;
    color: black;
    font-weight: bold;
    border: none;
    &:hover{
        background-color:$yellow-700;
        color:white;
    }
}

.select-rol{
    height: 35%;
}


